<h1>add task page</h1>

<div class="container">
  <form [formGroup]="Addtask" (ngSubmit)="onAddUser()">
  <div class="form-group">
    <label>id</label>
    <input type="text" formControlName="Id" class="form-control" placeholder=" enter the id">
  </div>
  <div class="form-group">
    <label>title</label>
    <input type="text"   formControlName="Title" class="form-control" placeholder=" enter the title">
  </div>
  <div class="form-group">
    <label>Status</label>
    <input type="text"   formControlName="Status" class="form-control" placeholder=" enter the Status">
  </div>
  <div class="form-group">
   <button type="submit"  class="btn btn-info primary form-control">Save</button>
  </div>
</form>
</div>
