<h1>Edit Page : {{email}}</h1>
<div class="container">
  <form [formGroup]="edituser" (ngSubmit)="onUserEdit()">
  <div class="form-group">
    <label>user email</label>
    <input formControlName="user_email" type="text" class="form-control" placeholder="enter the email">
    <!-- <label class="alert alert-danger" *ngIf="users.get('user_email').hasError('required') " >Email is required.</label> -->
  </div>
  <div class="form-group">
    <label>user name</label>
    <input formControlName ="user_name" type="text" class="form-control" placeholder="enter the name">
    <!-- <label class="alert alert-danger" *ngIf="users.get('user_name').hasError('required') " >name is required.</label> -->
  </div>
  <div class="form-group">
    <label>user password</label>
    <input formControlName="user_password" type="text" class="form-control" placeholder="enter the password">
    <!-- <label class="alert alert-danger" *ngIf="users.get('user_password').hasError('required') " >password is required.</label> -->
  </div>
  <div class="form-group">
    <label>user mobile no</label>
    <input formControlName="user_mobile_no" type="text" class="form-control" placeholder="enter the mobile no">
  </div>
  <div class="form-group">
    <button type="submit" class="form-control btn btn-primary">save</button>
  </div>
  </form>
</div>
